<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forum_system.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.forum_system.model.Message">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="postUserId" jdbcType="BIGINT" property="postuserid" />
    <result column="receiveUserId" jdbcType="BIGINT" property="receiveuserid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="deleteState" jdbcType="TINYINT" property="deletestate" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, postUserId, receiveUserId, content, state, deleteState, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.forum_system.model.Message" useGeneratedKeys="true" keyProperty="id">
    insert into t_message (id, postUserId, receiveUserId, 
      content, state, deleteState, 
      createTime, updateTime)
    values (#{id,jdbcType=BIGINT}, #{postuserid,jdbcType=BIGINT}, #{receiveuserid,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{deletestate,jdbcType=TINYINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.forum_system.model.Message" useGeneratedKeys="true" keyProperty="id">
    insert into t_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="postuserid != null">
        postUserId,
      </if>
      <if test="receiveuserid != null">
        receiveUserId,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="deletestate != null">
        deleteState,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="postuserid != null">
        #{postuserid,jdbcType=BIGINT},
      </if>
      <if test="receiveuserid != null">
        #{receiveuserid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="deletestate != null">
        #{deletestate,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.forum_system.model.Message">
    update t_message
    <set>
      <if test="postuserid != null">
        postUserId = #{postuserid,jdbcType=BIGINT},
      </if>
      <if test="receiveuserid != null">
        receiveUserId = #{receiveuserid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="deletestate != null">
        deleteState = #{deletestate,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.forum_system.model.Message">
    update t_message
    set postUserId = #{postuserid,jdbcType=BIGINT},
      receiveUserId = #{receiveuserid,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      deleteState = #{deletestate,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>